<!doctype html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>아무 말 대잔치</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
        />
        <link rel="stylesheet" href="../stylesheets/module/global-navbar.css" />
        <link rel="stylesheet" href="../stylesheets/view/register.css" />
        <script src="../javascripts/validator/register.js" defer></script>
        <script src="../javascripts/api/authApi.js" defer></script>
        <script src="../javascripts/view/register.js" defer></script>
    </head>
    <body>
        <header class="global-navbar">
            <div class="global-navbar-content">
                <a href="/login"
                    ><img
                        class="back"
                        src="../images/shevlon-left.svg"
                        alt="back"
                /></a>
                <h1>아무 말 대잔치</h1>
            </div>
        </header>
        <section class="register">
            <div class="register-logo-str">회원가입</div>
            <form
                class="register-form"
                id="registerForm"
                enctype="multipart/form-data"
            >
                <div class="input-box-image">
                    <label for="profileImage">프로필 사진</label>
                    <div class="image-placeholder-wrapper">
                        <input
                            type="file"
                            id="profileImage"
                            name="profileImage"
                            accept="image/*"
                        />
                        <div
                            class="image-placeholder"
                            onclick="document.getElementById('profileImage').click()"
                        >
                            <img
                                class="placeholder-plus"
                                src="../images/Add_round_light.svg"
                                alt="plus"
                            />
                            <img
                                id="imagePreview"
                                class="image-preview"
                                alt="Image Preview"
                                style="display: none"
                            />
                        </div>
                    </div>
                </div>
                <div class="input-box">
                    <label for="email">이메일 *</label>
                    <input
                        type="text"
                        name="email"
                        placeholder="이메일을 입력하세요"
                        required
                    />
                    <span class="helper-text email-helper"
                        >* 유효한 이메일을 입력하세요.</span
                    >
                </div>
                <div class="input-box">
                    <label for="password">비밀번호 *</label>
                    <input
                        type="password"
                        name="password"
                        placeholder="비밀번호를 입력하세요"
                        required
                    />
                    <span class="helper-text password-helper"
                        >* 비밀번호는 8자 이상 20자 이하이며, 특수문자, 영어,
                        숫자를 각각 하나 이상 포함해야 합니다.</span
                    >
                </div>
                <div class="input-box">
                    <label for="passwordChecker">비밀번호 확인 *</label>
                    <input
                        type="password"
                        name="passwordChecker"
                        placeholder="비밀번호를 한 번 더 입력하세요"
                        required
                    />
                    <span
                        id="passwordCheckerHelper"
                        class="helper-text password-checker-helper"
                        >* 비밀번호가 일치하지 않습니다.</span
                    >
                </div>
                <div class="input-box">
                    <label for="nickname">닉네임 *</label>
                    <input
                        type="text"
                        name="nickname"
                        placeholder="닉네임을 입력하세요"
                        required
                    />
                    <span class="helper-text nickname-helper d-block"
                        >* 닉네임을 입력하세요.</span
                    >
                </div>
                <div class="btn-box">
                    <button class="register-btn btn-submit" type="submit">
                        회원가입
                    </button>
                    <a class="login-redirect-btn" href="/login"
                        >로그인 하러가기</a
                    >
                </div>
            </form>
        </section>
    </body>
</html>
