<!doctype html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>아무 말 대잔치</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
        />
        <link rel="stylesheet" href="../stylesheets/module/global-navbar.css" />
        <link
            rel="stylesheet"
            href="../stylesheets/view/user-password-modify.css"
        />
        <script src="../javascripts/module/globalNavbar.js" defer></script>
    </head>
    <body>
        <header class="gnb">
            <a href="/"
                ><img class="back" src="../images/shevlon-left.svg"
            /></a>
            <h1>아무 말 대잔치</h1>
            <a class="action-list">
                <img
                    class="profile-image action-list-toggle"
                    src="../images/my-profile.png"
                    alt="목록"
                />
                <ul class="profile-menu">
                    <li>
                        <a href="../views/user-info-modify.html"
                            >회원정보수정</a
                        >
                    </li>
                    <li>
                        <a href="../views/user-password-modify.html"
                            >비밀번호수정</a
                        >
                    </li>
                    <li><a href="/logout">로그아웃</a></li>
                </ul>
            </a>
        </header>
        <section class="user-password-modify">
            <div class="user-password-modify-logo-str">비밀번호 수정</div>
            <form
                class="user-password-modify-form"
                action="/user-password-modify"
                method="post"
            >
                <div class="input-box">
                    <label for="password">비밀번호</label>
                    <input
                        type="password"
                        name="password"
                        placeholder="비밀번호를 입력하세요"
                    />
                </div>
                <div class="input-box">
                    <label for="password-check">비밀번호 확인</label>
                    <input
                        type="password"
                        name="password-check"
                        placeholder="비밀번호를 한 번 더 입력하세요"
                    />
                </div>
                <div class="btn-box">
                    <button
                        class="user-password-modify-btn btn-submit"
                        type="button"
                        onclick="location.href='/'"
                    >
                        수정하기
                    </button>
                </div>
            </form>
        </section>
    </body>
</html>
